.voice {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-image: url(../../image/index/voice/voice-bg.jpg);
}

.movie-box {
  position: relative;
  width: 100%;
  padding: 75% 0 0 0;
}

.movie-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 3%;
}

.movie-content {
  padding: 5%;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.7);
}

.movie-content li {
  list-style: none;
}

.voice-content {
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.7);
}

.voice-content img {
  width: 140px;
  height: 140px;
}

.voice h5 {
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 150%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.voice h6 {
  line-height: 150%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.voice hr {
  border-top: 1px solid #5a5a5a;
}

@media screen and (max-width: 640px) {
  .movie-content, .voice-content {
    padding: 10%;
  }
}